<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vapor - {% block title %}Base{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    {% block header %}
        <header>
            <h1>Base</h1>
        </header>
    {% endblock header %}

    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('cadastrar_jogo') }}">Cadastrar Jogo</a></li>
            <li><a href="{{ url_for('listar_jogos') }}">Lista de Jogos</a></li>
        </ul>
    </nav>

    {% block content %}

    {% endblock content %}
</body>
</html>