{% extends 'base.html' %}

{% block title %} Cadastrar Jogos {% endblock title %}

{% block header %}
    <header>
        <h1>Cadastrar Jogos</h1>
    </header>
{% endblock header %}

{% block content %}
    <main>
        <section>
            <h2>Formulário de Cadastrado</h2>
            <form action="{{ url_for('cadastrar_jogo') }}" method="POST">
                <label for="nome">Nome do Jogo</label><br>
                <input type="text" name="nome"><br>

                <label for="ano">Ano de Lançamento</label><br>
                <input type="number" name="ano"><br>

                <input type="submit" value="Enviar">
            </form>
        </section>
    </main>
{% endblock content %}