{% extends 'base.html' %}

{% block title %}
    Lista Jogos
{% endblock title %}

{% block header %}
    <header>
        <h1>Lista Jogos</h1>
    </header>
{% endblock header %}

{% block content %}
    <main>
        <section>
            <h2>Jogos</h2>
            <form action="{{ url_for('listar_jogos') }}" method="get">
                <label for="filtro-ano">Ano de Lançamento</label><br>
                <input type="text" name="filtro-ano">
                <input type="submit" value="Filtrar">
            </form>
            <ul>
                {% for jogo in jogos %}
                    <li>{{ jogo.nome }} - {{ jogo.ano }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock content %}