
body {
  font-family: "Noto Sans";
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  padding: 0 10px
}

h1, h2, h3 {
  line-height:1.2
}

input{
  border: #aaa solid 2px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}